/* General Reset and Base Styles */

html {
  height: 100%;
}

body {
  font-family: "quattrocento", sans-serif;
  background-color: #36454F;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #808080;
  height: 75px;
}

@media screen and (max-width: 567px){
  .fav-nav {
    height: 100px;
  }
}

.nav-main {
  font-size: xx-large;
  padding-top: 5px;
  padding-left: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles related to the Input Area */

#ingredients {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  align-content: center;
}

#searchButton, Button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Styles related to Recipe Cards */

.card h3 {
  margin-top: 10px;
}

h4 {
  margin-top: 20px;
  color: #8a2f58; /* wine-like color */
}

/* Sticky footer style */
footer {
  background-color: #808080;
  height: 75px;
  width: 100%;
}

@media screen and (max-width: 730px){
  .footer-info {
    visibility: hidden;
  }
  footer {
    height: 100px;
  }
}

@media screen and (max-width: 570px){
  .main-link {
    visibility: hidden;
  }

  .secondary-link {
    visibility: visible;
  }
}

/* Additional styles */

.recipe-button {
  background-color: #5a67d8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}

.recipe-button:hover {
  background-color: #4863c2;
}

h3 {
  font-size: 150%;
  font-style: bolder;
}

/* HERO IMAGE SECTION Styles */

.hero-image, .hero-image-search {
  background-image: url(../Images/VineDine_mainImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image {
  height: 60vh;
}

.hero-image-search {
  height: 35vh;
}

@media  screen and (max-height: 720px) {
  .hero-image-search, .hero-image {
    height: 300px;
  }
}

.hero-text {
  background-color: #808080;
  height: fit-content;
  width: fit-content;
  min-width: 40vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  /* Add these lines for vertical centering of the content inside the div */
  display: flex;
  justify-content: center; /* For horizontal centering, just in case */
  flex-direction: column;
  padding: 2%;
  border-radius: 5px;
}

@media screen and (max-width: 700px){
  .hero-text{
    min-width: 80vw;
  }
}

.hero-input {
  align-items: center;
  position: relative;
  color: black;
}

.main-text {
  font-size: 200%;
  font-style: italic;
  padding-bottom: 20px;
}

.secondary-text {
  font-size: 150%;
  color: black;
}

@media screen and (max-width: 1377px) {
  .hero-text {
    padding-top: 25px;
  }
}





/* Adjustments to make recipe cards stack vertically */

#results {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* test code */

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.project-box {
  flex: 1 1 calc(33.333% - 20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.3s ease;
  background-color: #fff;
}

@media screen and (max-width: 730px) {
  .project-box {
    flex: 1 1 calc(100% - 20px);
  }
  
}

.project-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.project-box h3, .project-box p, .project-box ul {
  padding: 8px;
}

.project-box:hover {
  transform: scale(1.05);
}

#maincontent {
  flex: 1;  /* This lets the main content area grow and take up any available space */
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}


.heart-icon {
  font-size: large;
  padding: 8px;
  float: inline-end;
}

.heart-icon:hover {
  transform: scale(1.05);
  background-color: #36454F;
}

/* Style for the favourited items */
.saved-recipe:hover {
  transform: scale(1.05);
}

.recipe-display {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.3s ease;
  background-color: #fff;
}

.recipe-display img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}
.favorites {
  width: 40%;
  float: left;
}

.recipe-display:hover {
  transform: scale(1.05);
}

.maincontent {
}

@media screen and (max-width: 800px) {
  .favorites {
    width: 100%;
  }
};
  
